<html>
  <head>
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      :root {
        --color-text-light: #141414;
        --color-text-dark: #ffffff;
        --color-header-light: #eaebf0;
        --color-header-dark: #25242a;
        --color-footer-light: #f3f3f3;
        --color-footer-dark: #25242a;
        --color-footer-text-light: #545454;
        --color-footer-text-dark: #adadad;
        --color-email-link-light: #003c73;
        --color-email-link-dark: #0082cd;
      }

      @media (prefers-color-scheme: dark) {
        .text,
        p,
        h1 {
          color: var(--color-text-dark);
        }

        p {
          color: var(--color-text-dark);
        }

        .navbar {
          background-color: var(--color-header-dark);
        }

        footer {
          background-color: var(--color-footer-dark);
        }

        .footerText {
          color: var(--color-footer-text-dark);
        }

        .emailLink {
          color: var(--color-email-link-dark);
        }
      }

      @media (prefers-color-scheme: light) {
        .text,
        p,
        h1 {
          color: var(--text-color-light);
        }

        .navbar {
          background-color: var(--color-header-light);
        }

        footer {
          background-color: var(--color-footer-light);
        }

        .footerText {
          color: var(--color-footer-text-light);
        }

        .emailLink {
          color: var(--color-email-link-light);
        }
      }

      .div-user {
        text-align: center;
        background-color: #eaebf0;
        padding: 20px 0px;
      }

      .div-user h1 {
        color: var(--color-text-light) !important;
      }

      .p-cedula {
        color: var(--color-text-light) !important;
        margin: 0px;
      }

      .div-body {
        padding: 16px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }

      h1 {
        font-size: 24px;
        margin: 0px;
      }

      .div-link {
        background-color: #f6f6f6;
        border-radius: 16px;
        margin: 20px 0px;
        padding: 8px 60px 8px 16px;
        position: relative;
      }

      .p-link {
        margin: 0px;
        color: var(--color-text-light) !important;
        font-size: 12px;
      }

      .icon-link {
        height: 55%;
        position: absolute;
        right: 16px;
        top: 25%;
      }

      .img-fluid {
        width: 100%;
        max-height: 310px;
      }

      .a-link {
        display: block;
        font-size: 16px;
        color: #003c73;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
  </head>

  <body style="padding: 0; margin: 0; color: #111">
    <div style="margin-top: 0 !important; margin: 0 auto; max-width: 600px">
      <nav style="text-align: center; padding-top: 1rem">
        <div style="text-align: center; margin-bottom: 20px">
          <img
            src="https://qa.cloud.qik.com.do/templateImages/Logo-Qik.png"
            alt=""
          />
        </div>
      </nav>
      <div class="div-user">
        <h1>¡Hola,&nbsp; <%= name %>!</h1>
        <p class="p-cedula">Cédula <%= id %></p>
      </div>
      <img
        alt=""
        class="img-fluid"
        src="https://qa.cloud.qik.com.do/templateImages/Quiker.png"
      />
      <div class="div-body">
        <h1>Hola <%= name %></h1>
        <p>
          <b>¡Estás en la lista de espera! </b>
          Ya casi eres parte de Qik y estás más cerca de vivir la experiencia
          del primer banco 100% digital de República Dominicana.
        </p>
        <p>
          Ahora lánzale el avión a 3 amigos para que se inscriban y participa
          para ganar un
          <b>iPhone 13 Pro Max. </b>
        </p>

        <div
          style="
            background-color: #ebe1d2;
            background: #ffffff;
            position: relative;
            margin-top: 80px;
            border: 1px solid #f6f6f6;

            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
          "
        >
          <img
            style="bottom: 0; left: 0; margin-top: 10px; position: absolute"
            src="https://qa.cloud.qik.com.do/templateImages/IPhone.png"
            alt=""
          />
          <div
            style="
              position: relative;
              left: 150px;
              padding-left: 100;
              padding: 17;
            "
          >
            <h1 style="color: black">Comparte y gana</h1>

            <div class="div-link">
              <p class="p-link">Link</p>
              <a class="a-link" href="<%= link %>"> <%= link %> </a>
              <img
                alt=""
                class="icon-link"
                onclick="navigator.clipboard.writeText(link);"
                src="https://qa.cloud.qik.com.do/templateImages/icon-copy.png"
              />
            </div>
            <a
              style="
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #003c73 !important;
              "
              href="http://google.com"
              >Detalles del concurso</a
            >
          </div>
        </div>

        <p>
          No olvides que si quieres conocer más acerca de nosotros ingresa a la
          web
          <a href="https://qa.www.google.com/">qik.com.do</a> o a través de
          nuestras redes como <a href="https://qa.www.google.com/">@qikbanco</a
          ><br /><br />¡Nos vemos pronto!<br />Equipo Qik
        </p>
      </div>
      <footer
        style="
          margin-top: 50px;
          width: 100%;
          text-align: center;
          justify-content: center;
        "
      >
        <p
          class="footerText"
          style="
            font-size: 12px;
            margin-bottom: 1rem !important;
            line-height: 14px;
            padding-top: 24px;
          "
        >
          ¿Necesitas ayuda? Te asistiremos en un Qik:
          <br />
          <a
            class="emailLink"
            href="mailto:ayuda@qik.com.do"
            style="text-decoration: none"
            >ayuda@qik.com.do</a
          >
        </p>
        <hr
          style="
            line-height: 1px;
            border-color: #e9ebec;
            opacity: 0.3;
            width: 94%;
          "
        />
        <p
          class="footerText"
          style="
            font-size: 10px;
            margin-bottom: 1rem !important;
            text-align: left;
            line-height: 14px;
            display: inline-block;
            margin: 1rem;
            padding-left: 32px;
            padding-right: 32px;
          "
        >
          Qik tiene el compromiso de prevenir correos electr&oacute;nicos
          fraudulentos. Nunca te solicitaremos datos personales o financieros
          como c&eacute;dula, contraseña, n&uacute;mero de tarjeta de
          cr&eacute;dito, fecha de vencimiento y c&oacute;digo de seguridad
          mediante enlaces al correo electr&oacute;nico o llamadas
          telef&oacute;nicas.
          <br />
          <br />
          Solo env&iacute;a correo personalizados, es decir, con tu primer
          nombre y el n&uacute;mero de c&eacute;dula enmascarado mostrando los
          &uacute;ltimos d&iacute;gitos de tu documento de identidad.
        </p>
        <hr
          style="
            line-height: 1px;
            border-color: #e9ebec;
            opacity: 0.3;
            width: 94%;
          "
        />
        <p
          class="footerText"
          style="
            font-size: 12px;
            margin-bottom: 1rem !important;
            text-align: center;
            line-height: 14px;
            max-width: 600px;
            display: inline-block;
          "
        >
          Copyright © Qik Banco Digital Dominicano S.A.,
          <br />
          Banco M&uacute;ltiple.
          <br />
          Todos los derechos reservados.
        </p>
      </footer>
    </div>
  </body>
</html>
